@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #e0ffcd;
}
.main-header{
    background-color: #ffebbb;
    padding: 16px 32px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.main-nav{
    display: inline-block;
    width: calc(100%-101px);
    text-align: left;
}

.main-nav-items{
    margin: 0;
    padding: 0 10px;
    list-style: none;
}

.main-nav-item{
    display: inline-block;
    margin: 20px 50px;
    padding-left: 50px;
    font-size: 20px;
    color: #38598b;
}

.main-header-logo{
    margin-left: 50px;
    color: #a2a8d3;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
}

.main-nav-item a{
    text-decoration: none;
    color:#38598b ;
}

.dropdown{
    position: relative;
    display: inline-block;
    border-radius: 20px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #ffebbb ;
    max-width: 150px;
    z-index: 1;
    border-radius: 20px;
}

.dropdown-content a{
    color:#38598b;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
}

.dropdown-content a:hover{
    background-color:#a2a8d3 ;
    color:#ffebbb;
}

.dropdown:hover .dropdown-content{display: block;}

